#dim {
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
    color: #d8d8d7;
    margin: 0 .75em;
    padding-bottom: .5em;
    border-bottom: 1px solid #666666;
}

.date {
    color: #ed1c24;
    font-size: 1.5em;
    margin: 0 .75em;
    padding: .4em 0;
    border-bottom: 1px solid #666666;
}

.expand {
    height: 1em;
    float: right;
}

.date-info {
    color: #d8d8d7;
    display: none;
}

.date-pics {
    width: 33.33333%;
    height: auto;
}

.place-id {
    color: #d8d8d7;
}
