html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body::-webkit-scrollbar {
  display: none;
}

main {
    display: grid;
    grid-template-rows: min-content 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    width: 100%;
    height: auto;
    display: block;
}

#day-text {
    grid-column-start: 1;
    grid-column-end: 3;
    height: calc(100vh - 2em - 3*50vw);
    min-height: min-content;
    font-size: 1.5em;
    color: white;
    font-weight: 100;
}

.back2 {
    background-color: #61c5c1 !important;
}

#refresh {
    width: 50%;
}

.remove {
    filter: grayscale(100%) contrast(175%) brightness(70%);
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 0, 0, .6);
    z-index: 90;
}

@media screen and (min-width: 800px) {
    main {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: min-content 1fr 1fr 1fr;
    }

    #day-text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 2em;
        padding: 1em;
        background-color: #61c5c1;
    }
}
