.head {
    background-color: #343534;
    padding: 0.5em 1em;
}

.head-img {
    display: block;
    height: 2em;
}

.head #logo {
    margin: 0 auto;
}

.head #profile {
    border-radius: 2em;
}

.head #date {
    float: right;
}
