.person-nav {
    width: 25%;
    height: auto;
    margin: 1em;
    vertical-align: middle;
}

.circle-column {
    max-width: 28em;
    margin: 0 auto;
}

.back {
    transform: rotate(180deg);
}