.signup-logo {
    padding: .75em 1em;
    width: 6em;
}

.circle-column {
    text-align: center;
}

.circle {
    width: .7em;
    margin-right: 5%;
    margin-top: 1.5em;
    cursor: pointer;
}

.signup-content {
    text-align: center;
    padding: 3em 2.5em;
}

.signup-next {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid black 1px;
    background-color: white;    
}

#next {
    display: block;
    margin: 0 auto;
    width: 2.25em;
    padding: .4em;
    cursor: pointer;
}

.dropzone {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 4em;
}

.upload-pics-wrapper {
    text-align: left;
}

.upload-pic {
    display: inline-block;
    width: 33.33333333%;
}

.location {
    width: 2.5em;
    vertical-align: middle;
    padding-right: 0.5em;
}

.range-wrapper {
    margin-top: 3em;
}

.label {
    font-size: 1.5em;
    font-weight: 100;
}

input[type=range] {
    -webkit-appearance: none; 
    width: 60%;
    height: 16px;
    margin: 0 1em;
    background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 0;
    cursor: pointer;
    border: .5px solid dimgray;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border: none;
    border-radius: 8px;
    background: #61c5c1;
    margin-top: -8px;
    cursor: pointer;
}

.gender-buttons {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #61c5c1;
    padding: 0 5%;
    cursor: pointer;
}

.gender-icons {
    display: block;
    width: 50%;
    margin: 15% auto;
}

.age {
    display: inline-block !important;
    margin: 1.5em;
    width: 25%;
}

#submit-box {
    height: 50vh;
    background-color: #61c5c1;
}

@media (max-width: 768px) {
    .signup-logo {
        display: none;
    }
}
