.signup-logo {
    padding: .75em 1em;
    width: 6em;
}

.signup-content {
    padding-top: 25vh;
}

.circle {
    width: .7em;
    margin-right: 5%;
    margin-top: 1.5em;
    cursor: pointer;
}

.circle-column {
    text-align: center;
}

.icon-centered {
    height: 100%;
    margin: 0 auto;
    width: 2.25em;
    float: right;
    padding-right: .75em;
    cursor: pointer;
}

.location {
    width: 2.5em;
    vertical-align: middle;
    padding-right: 0.5em;
}

.gender-buttons {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #61c5c1;
    padding: 0 5%;
    cursor: pointer;
}

.gender-icons {
    display: block;
    width: 50%;
    margin: 15% auto;
}

#submit-box {
    height: 50vh;
    background-color: #61c5c1;
}

.upload-pic {
    display: inline-block;
    width: 20%;
}

@media (max-width: 768px) {
    .signup-logo {
        display: none;
    }
}
