.signup-logo {
    padding: .75em 1em;
    width: 6em;
}

.signup-content {
    padding-top: 25vh;
}

.circle {
    width: .7em;
    margin-right: 5%;
    margin-top: 1.5em;
}

.circle-column {
    text-align: center;
}

.icon-centered {
    height: 100%;
    margin: 0 auto;
    width: 2.25em;
    float: right;
    padding-right: .75em;
}
