.logo {
    padding-top: 30vh;
    max-width: 500px;
}

#start {
    width: 60%;
    min-width: 300px;
    max-width: 960px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.start-wrap {
    background: url('../static/splash_bk.svg') no-repeat center center fixed;
    background-size: cover;
}

h3 {
    font-weight: 100;
}
